.register-input-field {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.register-title {
  display: flex;
  justify-content: center;
}

.accept-service-link,
.accept-policy-link {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.reg-to-auth-link {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 700;
  color: #1d1d93;
}
